<section class="header-top hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="social-media social-media-header list-unstyled list-inline">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <ul class="top-info list-unstyled list-inline hidden-sm">
          <li><a href=""><i class="fa fa-envelope"></i> <span>henryeka67@gmail.com</span></a></li>
          <li><a href=""><i class="fa fa-phone"></i> <span>(+62) 876 xxx 8789</span></a></li>
        </ul>
      </div>
      <div class="col-md-6 text-right">
        <select name="languange" class="select2">
          <option value="">English</option>
          <option value="">Indonesia</option>
        </select>
        <button type="button" class="btn btn-primary btn-sm user-top-btn" data-toggle="modal" data-target="#loginModal">Login</button>
        <button type="button" class="btn btn-primary btn-sm user-top-btn" data-toggle="modal" data-target="#regModal">Register</button>
      </div>
    </div>
  </div>
</section>